@import'footer-btn.scss';
@import 'mixin.scss';
@import 'variables.scss';


 body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;   
}

* a {
    text-decoration: none;
    color: white;
}

/* Spinner*/
.spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 20;
    animation: spinner 3s linear ;
    visibility: hidden;
    &__border {
        @include flexbox-center;
        border: 15px solid transparent;
        border-top: 15px solid $color-primary;
        border-bottom: 15px solid $color-secondary;
        border-radius: 30%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        animation: spinner-border 3s linear ;
        z-index: 10;
        visibility: hidden;
    }
    &__center {
        width: 50px;
        height: 50px;
        border-radius: 30%;
        background-color: $color-tertiary;
    
    }
}


// Animation Loading spinner //

@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spinner-border {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}

/* Header */

.header-logo {
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    position: relative;
    @include flexbox-center();
    height: 80px;
    width: 100%;
}

/*Localisation */

 .map {
    @include flexbox-center();
    background: #f3f3f3;
    color: #7a7a7a;

    &__title {
        margin-left: 13px;
        font-weight: 400;
    }

}  

/* Menu */ 

.menu {
    background: #F2EFEF;
    width: 100%;
    &__bloc {
        width: 100%;
        padding: 20px;
        @include flexbox-center();
        flex-direction: column;
        padding: 50px 0;
    }
    &__title {
        text-align: center;
        max-width: 250px;
        margin: 0;
    }
    &__p1 {
        text-align: center;
    }
    
}

/* Fonctionnement */ 

.process__blocSection {
    padding: 25px 0;
    width: 100%;
    background: white;
    @include flexbox-center;
    flex-direction: column;
}
.process {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0 ;   
    display: flex;
    flex-direction: column ;
    &__title {
        margin: 0;
    }
    &__p{
        padding-right:10px;
    }
    &__choice {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: 70px;
        width: auto;
        margin: 15px 20px;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
            @include button-hover;
            background: lighten(#9356dc, 25%);
            .process__icon{
                color:$color-primary; 
                background:none; 
            }
        }
    }
        &__number {
                background-color: $color-primary;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 200px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
    }
    &__mixChoice{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
/* Restaurant */

.restaurant {
    margin: 0;
    background: #f6f6f6;
    padding: 20px;
    @include flexbox-center;
    flex-direction: column;
}

.restaurant {
    &__cardS {
        display: grid;
        grid-template-rows: repeat(4,1fr) ;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
        
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        &-new {
            @include flexbox-center;;
            position: absolute;
            background: #99e2d0;
            top: 20px; right: 20px;
            & p {
                color: #1b6150;
                padding: 10px 20px;
                margin: 0;
                text-align: center;
            }
        }
        &:hover {
            transition: .5s;
            transform: scale(1.05);
            box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
            z-index: 2;
        }
        &-picture {
            width: 100%;
            height: 190px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
        }
    }
    &__bloc {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        border-radius: 0 0 20px 20px;
        &-info {
            color: black;
            margin-left: 20px;
            & > :first-child {
                font-weight: 700;
            }
        } 
        
        &-hearth {
            @include flexbox-center;
            margin-right: 20px;
            width: 30px;
        }
        .heart {
            width: 30px;
            stroke-width: 30;
            stroke: black;
            fill: white;
            cursor: pointer;
          }
        .heart-full {
          position: absolute;
          fill: url(#text-fill);
          stroke: none;
        }
        .heart-empty {
            width: 50px;
            position: relative; 
            &:hover {
              opacity: 0;
              transition: 0.5s;
            }
        }
    }
}






/* Responsive*/ 


@media screen and (min-width: 600px) {

    .restaurant {
        &__cardS {
            display: grid;
            grid-template-rows: 1fr 1fr ;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
        &__card{
            &:hover {
                transition: .5s;
                transform: scale(1.25);
                box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
                z-index: 2;
            }
        }
    }

    .process__choice {
        width: 100%;
    }
    .process__mixChoice {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    
    /* Spinner*/
.spinner__border {
        width: 300px;
        height: 300px;
    }
  
}