body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* a {
  text-decoration: none;
  color: white;
}

/*Header */
header {
  z-index: 10;
  background: white;
  width: 100%;
}
header .header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
header .header__arrow-back {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 30%;
  font-size: 30px;
}
header .header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
header .header__logo a {
  color: #000;
}
header .header__color {
  color: black;
}

/*Images*/
.img {
  width: 100%;
  height: 50vh;
}
.img__image {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Menus */
#menus {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__header__title {
  font-family: "Shrikhand", cursive;
}
.menu__header__heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.menu__header__heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.menu__header__heart .heart-empty {
  position: relative;
}
.menu__header__heart .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
.menu__full {
  display: grid;
  grid-gap: 40px;
}
.menu__full__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__full__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__full__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__full__card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__full__card:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__full__card:hover .menu__card__price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__full__card .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.menu__full__card .validation__box i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}
.menu__card__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__dish-title {
  font-weight: bold;
}
.menu__card__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}
.menu__box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__button {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 50px 0;
  font-size: 18px;
}
.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appears-with-opacity {
  -webkit-animation: opacity 2s both;
          animation: opacity 2s both;
}

#card-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#card-2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#card-3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#card-4 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#card-5 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#card-6 {
  -webkit-animation-delay: 0.11s;
          animation-delay: 0.11s;
}

#card-7 {
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
}

#card-8 {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#card-9 {
  -webkit-animation-delay: 0.17s;
          animation-delay: 0.17s;
}

#card-10 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

/*Footer */
.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
}
.footer__bloc .footerLogo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-linkA {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-linkA:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer__bloc-linkA i {
  margin-right: 7px;
}
.footer__bloc-linkA__title {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 1100px) {
  .menu {
    margin-top: -60px;
  }

  .menu__full {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .img__image {
    margin-top: 0;
  }
}
@media screen and (min-width: 600px) {
  .footer__bloc {
    margin-bottom: 15px;
  }
  .footer__bloc-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 390px) {
  .menu__card {
    width: 350px;
  }
}/*# sourceMappingURL=style-menu.css.map */